@charset "utf-8";

* {
	box-sizing: border-box;
}

.title {
	height: 150px;
	background-image: url(../images/concept/bg-main.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	text-shadow: 1px 1px 10px #4b2c14;
	margin-bottom: 30px;
}

.form-area {
	background-color: #f8f8f8;
	border: 1px solid #aaaaaa;
	width: 500px;
	margin: 0 auto;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
}

.form-area dt {
	width: 200px;
	padding: 15px 0;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
}

.form-area dt .required::after {
	content: '必須';
	font-size: 11px;
	color: #eb4f32;
	margin-left: 10px;
}

.form-area dd {
	width: calc(100% - 200px);
	padding: 15px 0;
}

.form-area p {
	color: red;
	font-size: 10px;
	font-weight: bold;
}

.input-text {
	width: 100%;
	max-width: 200px;
	height: 30px;
	padding-right: 10px;
}

.message {
	width: 100%;
	height: 260px;
	padding: 10px;
	line-height: 1.5;
}


.submit-button {
	background-color: #f4dd64;
	display: inline-block;
	min-width: 180px;
	line-height: 48px;
	border-radius: 24px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	border: none;
	margin: 0 auto;
}

/*
.submit-button:hover {
	background-color: #d8b500;
}
*/

.footer {
	margin-top: 100px;
}

.complete-msg-area {
    text-align: center;
}

@media (max-width: 800px){
	.map, .contact {
		width: 500px;
		margin-top: 45px;
	}
	
	.form-area dt, .form-area dd {
		width: 100%;
	}
	
	.form-area dt {
		padding-bottom: 0;
	}
	
	.submit-button {
		width: 80%;
	}

    .form-area{
        width: 90%;
    }
}
